html, body
{
	height: 100%;
}

#game
{
	height: 100%;
}

table
{
	background-color: black;
	border-spacing :0px;
	border: solid black 4px;
	height: 90vh;
	Width: 90vh;
}

td
{
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 7px;
}

tr
{
}
