@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: url('Roboto-Thin.woff');
}

body
{
	background-color: #FCFCFC;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	color: rgb(100,100,100);
	font-size: 5vh;
}

h1 {
	color: rgb(150,150,150);
	font-weight: 100;
	font-size: 10vh;
}

h2 {
	font-size: 6vh;
	font-weight: 100;
	margin: 1vh;
}

h3 {
	font-size: 5vh;
	margin: 0;
	font-weight: 100;
}

td
{
	overflow: hidden;
	text-overflow: ellipsis;
}


.card {
	font-size: 3vh;
	margin: 3vh auto auto;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	padding: 1.5vh;
}

.card > table {
	width: 100%;
	table-layout: fixed;
}

.margin
{
	margin: .5vw;
}

.left {
	text-align: left;
}

.fleft {
	float: left;
}

.right {
	text-align: right;
}

.fright {
	float: right;
}

.score_card {
	width: 40vh;
	max-width: 40vw;
}

.restart
{
	position: fixed;
	bottom: 2vh;
	left: 2vw;
	min-width: 0;
	z-index: 6;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
}

#game
{
	margin-left: auto;
	margin-right: auto;
}

#score
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: rgb(210,210,210);
}

#last
{
	border-color: rgb(255,255,255) ;
	border-color: rgba(255,255,255,0.3) ;
}

.used
{
	opacity: 0.5;
}

table
{
	margin: auto;	
}

.game_table 
{
	height: 85vmin;
	width: 85vmin;
	background-color: #e0e0e0;
	border-spacing: 0.22em;
	border-color: inherit;
	border-style: solid ;
	border-width: .1em;
	border-radius: .5vh;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	table-layout: fixed;
}

.game_table * td
{
	border-style: solid;
	border-color: transparent;
	border-radius: 0.25vh;
	border-width: .2em;
	transition: all 0.3s ease-out 0s;
}

#loading
{
	z-index: 6;
}

#list, #finish, #menu, #connecting, #waiting, #scores, #loading, #solo_menu, #tuto_view {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #FCFCFC;
	font-size: 6vh;
}

#tuto_view {
	margin: auto;
	height: auto;
	width: 25vw;
	min-width: 55vh;
	top: 10%;
	left: 1%;
	right: 1%;
	font-size: 3vh;
}

#finish {
	background-color: rgb(240,240,240);
	background-color: rgba(240,240,240, 0.7);
}

#report {
	width: 85vh;
	max-width: 90vw;
	margin: 12vh auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

#pseudos
{
	text-align: center;
}


#games * tr:hover
{
	background-color: rgb(210,210,210);
}

.list
{
	width: 100vw;
	border-collapse: collapse;
	font-size: 3vh;
	margin-top: 6vh;
	table-layout: fixed;
}

#scores_list * td:nth-child(3)
{
	width: 17%;
} 

#scores_list * td:nth-child(4)
{
	width: 14%;
} 

#scores_list * td:nth-child(5)
{
	width: 14%;
} 

#scores_list * td:nth-child(1)
{
	width: 9%;
} 

.list > tbody > tr:nth-child(2n+1)
{
	background-color: #F2F2F2;
}

.list thead {
	margin-top: 4vh;
	border-bottom-color: #D0D0D0;
	border-bottom-style: solid;
}

#menu {
	display: block;
	z-index: 7;
}



.p1 {
	background-color: rgb(0,0,255);
	background-color: rgba(0,0,255,0.5);
}

.p2 {
	background-color: rgb(255,0,0);
	background-color: rgba(255,0,0,0.5);
}

.p3 {
	background-color: rgb(33,127,39);
	background-color: rgba(33,127,39,0.5);
}

.p4 {
	background-color: rgb(229,109,12);
	background-color: rgba(229,109,12,0.5);
}

.p-1 {
	background-color: #e0e0e0;
	color: rgb(240,240,240);
}

.p-2 {
	background-color: #81c784;
}

.p-3 {
	background-color: #9e9e9e;
}

.p0 {
	background-color: #fff;
	box-shadow: 0 .1em 0 #D0D0D0;
	position: relative;
	top: 0;
}

.p0:hover {
	cursor: pointer;
	box-shadow: 0 .01em 0 #D0D0D0;
	top: 0.09em;
}

.g {
	background-color: #fbfbfbs;
	box-shadow: 0 .1em 0 #D0D0D0;
}

.t1 {
	color: rgb(0,0,255);
	color: rgba(0,0,255,0.5);
}

.t2 {
	color: rgb(255,0,0);
	color: rgba(255,0,0,0.5);
}

.t3 {
	color: rgb(33,127,39);
	color: rgba(33,127,39,0.5);
}

.t4 {
	color: rgb(229,109,0);
	color: rgba(229,109,0,0.5);
}

.c1 {
	border-color: rgb(0,0,255);
	border-color: rgba(0,0,255,0.5);
}

.c2 {
	border-color: rgb(255,0,0);
	border-color: rgba(255,0,0,0.5);
}

.c3 {
	border-color: rgb(33,127,39);
	border-color: rgba(33,127,39,0.5);
}

.c4 {
	border-color: rgb(229,109,0);
	border-color: rgba(229,109,0,0.5);
}

.b1 {
	background-color: rgb(220,220,255);
}

.b2 {
	background-color: rgb(255,220,220);
}

.b3 {
	background-color: rgb(220,255,220);
}

.b4 {
	background-color: rgb(255,245,220);
}

html, body {
	-webkit-transition: background-color 0.1s; /* Safari */
    transition: background-color 0.1s;
}


button {
	box-sizing: border-box;
	border-style: none;
	padding: 1.5vh;
	color: white;
	width: 20vw;
	border-radius: .25vh;
	min-width: 50vh;
	background-color: #2196f3;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.3s ease-out 0s;
	vertical-align: top;
}

button:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}



input, select, button {
	vertical-align: middle;
	margin: 1vh 1vw;
	font-size: 5vh;
	max-width: 95vw;
	font-weight: 100;
	font-family: "Roboto", sans-serif;
}

form
{
	margin-top: 2vh;
}

