body
{
	background-color: #FCFCFC;
	font-family: Roboto, sans-serif;
	font-weight: 200;
	color: rgb(100,100,100);
}

h1 {
	color: rgb(150,150,150);
	font-weight: 200;
	font-size: 10vh;
}

.margin
{
	margin: .5vw;
}

.restart
{
	position: fixed;
	bottom: 2vh;
	left: 2vw;
	min-width: 0;
	z-index: 6;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
}


#game
{
	margin-left: auto;
	margin-right: auto;
	height: 85vh;
	width: 95vh;
	max-width: 95vw;
	max-height: 95vw;
	font-size: 5vh;
}

#score
{
	margin-left: auto;
	margin-right: auto;
	font-size: 5vh;
	text-align: center;
	color: rgb(210,210,210);
}

#last
{
	border-color: rgb(255,255,255) ;
	border-color: rgba(255,255,255,0.3) ;
}

.used
{
	opacity: 0.5;
}

table
{
	margin: auto;	
}

.game_table 
{
	height: 100%;
	width: 100%;
	background-color: #e0e0e0;
	border-spacing: 1.2vh;
	border-color: inherit;
	border-style: solid ;
	border-width: .25vw;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.game_table * td
{
	border-style: solid;
	border-color: transparent;
	border-radius: 0.25vh;
	border-width: 1vh;
	transition: all 0.3s ease-out 0s;
}

#loading{
	z-index: 6;
}

#list, #finish, #menu, #connecting, #waiting, #scores, #loading, #solo_menu {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #FCFCFC;
	font-size: 6vh;
}

#finish {
	background-color: rgb(240,240,240);
	background-color: rgba(240,240,240, 0.7);
}

#winner {
	margin-top: 12vh;
}

#pseudos
{
	font-size: 3vh;
	text-align: center;
}


#games * tr:hover
{
	background-color: rgb(210,210,210);
}

.list
{
	border-collapse: collapse;
	font-size: 4vh;
}

.list * td {
	width: 20vw;
}

.list > tbody > tr:nth-child(2n+1)
{
	background-color: #F2F2F2;
}

.list thead {
	margin-top: 4vh;
	border-bottom-color: #D0D0D0;
	border-bottom-style: solid;
}

#menu {
	display: block;
	z-index: 7;
}



.p1 {
	background-color: rgb(0,0,255);
	background-color: rgba(0,0,255,0.5);
}

.p2 {
	background-color: rgb(255,0,0);
	background-color: rgba(255,0,0,0.5);
}

.p3 {
	background-color: rgb(33,127,39);
	background-color: rgba(33,127,39,0.5);
}

.p4 {
	background-color: rgb(229,109,12);
	background-color: rgba(229,109,12,0.5);
}

.p-1 {
	background-color: #e0e0e0;
	color: rgb(240,240,240);
}

.p0 {
	background-color: #eeeeee;
	box-shadow: 0 .5vh 0 #D0D0D0;
}

.t1 {
	color: rgb(0,0,255);
	color: rgba(0,0,255,0.5);
}

.t2 {
	color: rgb(255,0,0);
	color: rgba(255,0,0,0.5);
}

.t3 {
	color: rgb(33,127,39);
	color: rgba(33,127,39,0.5);
}

.t4 {
	color: rgb(229,109,0);
	color: rgba(229,109,0,0.5);
}

.c1 {
	border-color: rgb(0,0,255);
	border-color: rgba(0,0,255,0.5);
}

.c2 {
	border-color: rgb(255,0,0);
	border-color: rgba(255,0,0,0.5);
}

.c3 {
	border-color: rgb(33,127,39);
	border-color: rgba(33,127,39,0.5);
}

.c4 {
	border-color: rgb(229,109,0);
	border-color: rgba(229,109,0,0.5);
}


button {
	box-sizing: border-box;
	border-style: none;
	padding: 1.5vh;
	color: white;
	width: 20vw;
	border-radius: .25vh;
	min-width: 50vh;
	background-color: #2196f3;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.3s ease-out 0s;
	vertical-align: top;
}

button:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}



input, select, button {
	vertical-align: middle;
	margin: 1vh 1vw;
	font-size: 5vh;
	max-width: 95vw;
	font-weight: 200;
	font-family: Roboto, sans-serif;
}

form
{
	margin-top: 2vh;
}
