body
{
	background-color: rgb(240,240,240);
	font-family: Helvetica;
}

.margin
{
	margin: .5vw;
}

.restart
{
	position: fixed;
	bottom: 2vh;
	left: 2vw;
	width: auto;
	height: auto;
	min-width: 0;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	z-index: 6;
}


#game
{
	margin-left: auto;
	margin-right: auto;
	height: 85vh;
	width: 95vh;
	max-width: 95vw;
	max-height: 95vw;
	font-size: 5vh;
}

#score
{
	margin-left: auto;
	margin-right: auto;
	font-size: 5vh;
	text-align: center;
	color: rgb(210,210,210);
}

.last
{
	border-color: rgba(255,255,255,0.3) !important;
}

.used
{
	opacity: 0.5;
}

table
{
	margin: auto;	
}

#game > table
{
	height: 100%;
	width: 100%;
	background-color: rgb(240,240,240);
	border-spacing: 3px; 
	border-color: inherit;
	border-style: solid ;
	border-width: .25vw;
}

#game * td
{
	border-style: solid;
	border-color: transparent;
	border-radius: 0.25vh;
	border-width: 6px;
}

#loading{
	z-index: 6;
}

#list, #finish, #menu, #connecting, #waiting, #scores, #loading {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgb(240,240,240);
	font-size: 5vh;
}

#pseudos
{
	font-size: 3vh;
	text-align: center;
}


#games * tr:hover
{
	background-color: rgb(210,210,210);
}

.list
{
	border-collapse: collapse;
	font-size: 4vh !important;
}

.list * td {
	width: 20vw;
}

.list > tbody > tr:nth-child(2n+1)
{
	background-color: rgb(200,227,249);
}

.list thead {
	background-color: rgb(240,240,240);
	position: fixed;
	padding-top: 4vh;
	z-index: 5;
}

.list > tbody {
	position: relative;
	top: 11vh;
}


#menu {
	display: block;
	z-index: 7;
}



.p1 {
	background-color: rgba(0,0,255,0.5);
}

.p2 {
	background-color: rgba(255,0,0,0.5);
}

.p3 {
	background-color: rgba(33,127,39,0.5);
}

.p4 {
	background-color: rgba(229,109,12,0.5);
}

.p-1 {
	background-color: rgb(240,240,240);
	color: rgb(240,240,240);
}

.p0 {
	background-color: rgb(210,210,210);
}

.t1 {
	color: rgba(0,0,255,0.5);
}

.t2 {
	color: rgba(255,0,0,0.5);
}

.t3 {
	color: rgba(33,127,39,0.5);
}

.t4 {
	color: rgba(229,109,0,0.5);
}

.c1 {
	border-color: rgba(0,0,255,0.5);
}

.c2 {
	border-color: rgba(255,0,0,0.5);
}

.c3 {
	border-color: rgba(33,127,39,0.5);
}

.c4 {
	border-color: rgba(229,109,0,0.5);
}


button {
	border-style: none;
	padding: 1.5vh;
	border-radius: 1vh;
	color: white;
	width: 20vw;
	min-width: 35vh;
	background-color: rgb(88,172,236);
	box-shadow: 0 1.2vh rgb(49,141,206);
	vertical-align: top;
}


input, select, button{
	vertical-align: middle;
	margin: 1vh 1vw;
	font-size: 5vh;
	max-width: 95vw;
}

form
{
	margin-top: 2vh;
}
